[submodule "custom/plugins/network"]
	path = custom/plugins/network
	url = https://github.com/MarkNo1-Github/network.git
[submodule "custom/plugins/installer"]
	path = custom/plugins/installer
	url = https://github.com/MarkNo1-Github/installer.git
[submodule "custom/theme/powerlevel10k"]
	path = custom/theme/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "custom/plugins/private"]
	path = custom/plugins/mark-private
	url = https://github.com/MarkNo1-Github/private.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "custom/plugins/mark-passwords"]
	path = custom/plugins/mark-passw
	url = git@github.com:MarkNo1-Github/mark-passwords.git
[submodule "custom/plugins/mark-lib"]
	path = custom/plugins/mark-common
	url = git@github.com:MarkNo1-Github/mark-lib.git
